<h1>Your Tasks</h1>
<br>

<%@tasks.each do |task|%>
<%=task.content%><br>
<%end%>
<br>

<%if current_user = @employer%>
<a href ="/tasks/<%=@employee.slug%>/new">Create New Task</a>
<%end%>
<a href ="/employees/<%=@employee.slug%>/logout">Log Out</a>
