<button><a href ="/employers/<%=@employer.slug%>/logout">Log Out</a></button>

<h1>Your Employees</h1>

<%@employees.each do |employee|%>
<%if employee.employer_id == @employer.id%>
<a href = "/employers/<%=@employer.slug%>/employees/<%=employee.username%>/tasks"><%=employee.username%></a><br><br>
<%end%>
<%end%>
