<button><a href="/employees/<%=@employee.slug%>/edit">Complete Tasks</a></button>
<button><a href ="/employees/<%=@employee.slug%>/logout">Log Out</a></button>

<h1><%=@employee.username%>'s Tasks</h1>
<br>

<ol>
  <%@tasks.each do |task|%>
  <%if task.employee_id == @employee.id%>
    <li><%=task.content%></li>
  <%end%>
  <%end%>
</ol>
